<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <script>
      function search(e) {
        e.preventDefault();
        ajax.post('/',data={query: document.getElementById('query').textContent})
      }
    </script>
    
    <form id="searchForm" onsubmit="search">
      <div class="center">
        
        <input type="text" id="query" name="query" placeholder="Type a search term to get job posts" autofocus autocomplete="off"/>
        <button type="submit">
          <img id="searchIcon"src="https://img.icons8.com/ios/2x/search.png">
        </button>
      
      </div>      
    </form>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  </body>
</html>
